﻿<div class="page-header">
	<h1>Projektübersicht</h1>
</div>
<div class="row">
	<div class="col-sm-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Aktuelle Projekte</h3>
			</div>
			<div class="panel-body">
				Projekt 2
			</div>

		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Beendete Projekte</h3>
			</div>
			<div class="panel-body">
				Projekt 1
			</div>
		</div>
	</div>
	
	<div class="col-sm-3">
		<a button href="#/createProject/general" class="btn btn-primary">Neues Projekt</a>
	</div>
</div>

