﻿<div class="page-header">
  <h1>Neues Projekt</h1>
</div>
<ul class="nav nav-tabs">
  <li class="active"><a href="#/createProject/general">Allgemein</a></li>
  <li><a href="#createProject/challenge">Challenge</a></li>
  <li><a href="#/createProject/finance">Finanzen</a></li>
  <li><a href="#/createProject/scope">Rahmenbedingung</a></li>
  <li><a href="#/createProject/attachement">Anhänge</a></li>

</ul>